<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
<!--        <listener class-name="listeners.AnnotationTransformer"></listener>-->
        <listener class-name="listeners.TestListener"/>
        <listener class-name="listeners.MethodInterceptor"></listener>
    </listeners>
    <test parallel="methods" thread-count="5" name="SeleniumFramework">
        <classes>
<!--            <class name="com.fpt.tests.HomePageTest"/>-->
<!--            <class name="com.fpt.tests.LoginPageTest"/>-->
            <class name="com.fpt.tests.GoogleForTestOnly"/>
        </classes>
    </test>
</suite>